# https://editorconfig.org/
# Indicates that this is the root EditorConfig file for the project
# This means that these configurations apply to all files in this directory and its subdirectories
root = true

# Set default formatting options for all files
[*]
charset = utf-8
indent_size = 2
# Use spaces for indentation
indent_style = space
# Line endings are LF (Unix-style)
end_of_line = lf
# Insert a final newline at the end of the file
insert_final_newline = true
# Trim trailing whitespace at the end of lines
trim_trailing_whitespace = true

# Set specific formatting options for HTML files
[*.{html,phtml}]
indent_size = 4
